.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.coursePage {
  flex-grow: 1;
  padding: 30px;
  padding-top:0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.heading {
    font-size: 38px;
    margin-bottom: 10px;
    color: #1F4E47;
    font-family: 'Georgia', serif;
    font-weight:400;
  }
  
  .subheading {
    font-size: 17px;
    color: #1F4E47;
    margin-bottom: 20px;
    font-family: 'Verdana', sans-serif;
    font-weight: lighter;
  }
  
  .box {
    background-color: #F8FAF4;
    border: 1px solid #ACC8C4;
    padding: 20px;
    padding-top: 2px;
    width: 97.5%;
    height: 150px;
    border-radius: 13px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .heading3 {
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 12px;
    color: #1F4E47;
    font-family: 'Georgia', serif;
    font-weight: lighter;
  }

  .subheading2 {
    font-size: 17px;
    color: #1F4E47;
    font-family: 'Verdana', sans-serif;
    font-weight: lighter;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .text {
    font-size: 14px;
    color: #1F4E47;
    margin-bottom: 5px;
    margin-top: 0px;
    font-family: 'Verdana', sans-serif;
    font-weight: lighter;
  }

  .box3 {
    background-color: #F8FAF4;
    border: 1px solid #ACC8C4;
    padding: 20px;
    padding-top: 2px;
    margin-top: 25px;
    width: 97.5%;
    height: 250px;
    border-radius: 13px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
  }

.withoutFooter { /* to keep the footer down we are encapsulating the main contents in one div*/
  height: 555px;
}

.button {
  width: 150px;
  padding: 5px;
  height: 55px;
  font-size: 17px;
  color: #1F4E47;
  background-color: #3BECB9;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  font-family: 'Verdana', sans-serif;
  font-weight: lighter;
  display: block;
  margin: auto;
  margin-top: 15px;
  text-align: center;
}

.button:hover {
  background-color: #7DFFD9;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Verdana', sans-serif;
}

.boxCourse {
  display: flex;
  width: 100%;
  margin-bottom: 20px;;
}

.progressBar {
  height: 100%;
  transition: width 0.4s ease;
}

.progressBarContainer {
  width: 30%;
  background-color: #D9D9D9;
  border-radius: 0px;
  overflow: hidden;
  height: 25px;
  margin-top: 30px;
  border: 2px solid #cbcbcb;
  position: relative;
}

.onTime .progressBar {
  background-color: #35e682;
}

.late .progressBar {
  background-color: #E07E32;
  border: 2px solid #E07E32; /*This will show the bar slightly even when progress is 0*/
}

.first {
  margin-right: 50px;
  width: 50%;
}

.third {
  text-align: right;
  width: 20%;
}

.Link {
  text-decoration: none;
}

.progressText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: bold;
  color: #5c5c5c;
  z-index: 1;
}