.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.courseworkPage {
  flex-grow: 1;
  padding: 30px;
  padding-top:0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.heading {
  font-size: 38px;
  margin-bottom: 10px;
  color: #1F4E47;
  font-family: 'Georgia', serif;
  font-weight:400;
}

.subheading {
  font-size: 17px;
  color: #1F4E47;
  margin-bottom: 20px;
  font-family: 'Verdana', sans-serif;
  font-weight: lighter;
}

.heading3 {
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 12px;
  color: #1F4E47;
  font-family: 'Georgia', serif;
  font-weight: lighter;
}

.heading33 {
  font-size: 40px;
}

.heading333 {
  font-size: 36px;
}

.subheading2 {
  font-size: 17px;
  color: #1F4E47;
  font-family: 'Verdana', sans-serif;
  font-weight: lighter;
  margin-bottom: 10px;
  margin-top: 5px;
}

.text {
  font-size: 14px;
  color: #1F4E47;
  margin-bottom: 4px;
  margin-top: 0px;
  font-family: 'Verdana', sans-serif;
  font-weight: lighter;
}

.box3 {
  background-color: #F8FAF4;
  border: 1px solid #ACC8C4;
  padding: 20px;
  padding-top: 2px;
  margin-top: 25px;
  width: 97.5%;
  height: 280px;
  border-radius: 13px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.withoutFooter { /* to keep the footer down we are encapsulating the main contents in one div*/
  height: 555px;
}

.button {
  width: 150px;
  padding: 5px;
  height: 35px;
  font-size: 14px;
  color: #1F4E47;
  background-color: #3BECB9;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  font-family: 'Verdana', sans-serif;
  font-weight: lighter;
  display: block;
  margin-top: 15px;
  text-align: center;
}

.button:hover {
  background-color: #7DFFD9;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Verdana', sans-serif;
}

.third {
  text-align: center;
  display: flex;
  gap:10px;
  margin-top: -10px;
  justify-content: center;
  align-items: center;
}

.noWork {
  background-color: #F4EBCF;
}

.onTrack {
  background-color: #D0F4CF;
}

.isLocked {
  position: relative;
  background-color: #f1eeeef6;
  filter: blur(0.9px);
  pointer-events: none;
}

.isLocked::after {
  content: '\1F512'; /* Unicode for lock emoji, you can replace with an actual image/icon */
  font-size: 24px;
  color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the lock icon */
  background-color: rgba(255, 255, 255, 0.8); /* Light overlay to emphasize the lock */
  padding: 10px;
  border-radius: 50%; /* Circle around the lock */
}

.firstSetOfBoxes {
  display: flex;
  gap: 50px;
  width: 100%;
}

.box {
  background-color: #F8FAF4;
  border: 1px solid #ACC8C4;
  padding: 20px;
  padding-top: 30px;
  width: 28%;
  height: 120px;
  border-radius: 13px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-right: -6px;
}

.boxCourse {
  width: 31%;
  margin-bottom: 5px;;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #ACC8C4;
  border-radius: 13px;
  padding: 5px;
  padding-bottom: 7px;
  margin-left: -10px;
}

.insideBox3 {
  width:100.9%;
  display: flex;
  gap: 30px;
  margin-bottom: 5px;
}

.progressBar {
  height: 100%;
  width: calc(100% - 2px); /* when 6 tasks are completed, 100% does not show the bar so we reduce the width a little */
  transition: width 0.4s ease;
  background-color: #52E032;
  box-sizing: border-box;
}

.progressBarContainer {
  width: 30%;
  background-color: #D9D9D9;
  border-radius: 0px;
  overflow: hidden;
  height: 25px;
  margin-top: 15px;
  box-sizing: border-box;
}

.onTime .progressBar {
  background-color: #35e682;
}

.late .progressBar {
  background-color: #E07E32;
}

.courseworkProgressBox {
  display: flex;
  justify-content: space-between; /* Space between heading and progress bar */
  height: 44px;
}
