.header {
  position: absolute; /* Absolute positioning to overlap content */
  padding-left: 30px;
  padding-top: 10px;
  padding-right: 0px;
  width: 95%;
  background-color: transparent;
  z-index: 10; /* To overlap other content */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks {
  display: flex;
  margin-top: -25px;
  gap: 90px; /* Space between links */
}

.navLink {
  text-decoration: none;
  position: relative;
  font-family: 'Verdana', sans-serif;
  color: black;
  font-size: 17px;
  font-weight: lighter;
}

.navLink::before {
  content: "";
  background-color: black;
  transition: 0.4s ease-out;
  width: 0%;
  height: 3.5px;
  position: absolute;
  left: 0;
  bottom: -3px;
}

.navLink:hover::before {
  width: 100%;
}