.homePage {
  position: relative; /* To ensure the children are positioned relative to this container */
  height: 100vh; /* Full viewport height */
}

.circle {
  position: absolute;
  left: 930px; 
  bottom: 110px;
  width: 800px;
  height: 700px;
  background-color: #C8F2E1;
  border-radius: 50%; /* Makes the div a circle */
  z-index: 10; /* Ensures the circle is above*/
}

.alarmClock {
  position: absolute;
  left: 940px; 
  top: 250px; 
  width: 310px; 
  height: 328px; 
  z-index: 15; /* To ensure it's above the circle */
}

.actNowText {
  position: absolute;
  left: 970px;
  top: 130px;
  color: #F8FAF4;
  font-size: 60px;
  font-weight: bold;
  z-index: 20;
  text-align: center;
  line-height: 1.35;
  font-family: 'Inter', sans-serif;
}

.actNowText div:nth-child(2) {
  margin-left: 280px; /* To add space before "NOW" */
}